[Unit]
Description=Btrfs backup and retention
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/btrfs-backup-and-retention.sh
Nice=10
TimeoutStartSec=1h
